In [25]:
import pandas as pd

df = pd.read_excel('CompleteDatasetTrimmed.xls')
df.head(20)

,Column1,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,0,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,Ä95.5M,Ä565K,2228,...,610.0,530.0,820.0,620.0,910.0,890.0,920.0,910.0,660.0,920.0
1,1,L. Messi,30,Argentina,93,93,FC Barcelona,Ä105M,Ä565K,2154,...,570.0,450.0,840.0,590.0,920.0,900.0,880.0,910.0,620.0,880.0
2,2,Neymar,25,Brazil,92,94,Paris Saint-Germain,Ä123M,Ä280K,2100,...,590.0,460.0,790.0,590.0,880.0,870.0,840.0,890.0,640.0,840.0
3,3,L. Su·rez,30,Uruguay,92,92,FC Barcelona,Ä97M,Ä510K,2291,...,640.0,580.0,800.0,650.0,880.0,850.0,880.0,870.0,680.0,880.0
4,5,R. Lewandowski,28,Poland,91,91,FC Bayern Munich,Ä92M,Ä355K,2143,...,580.0,570.0,780.0,620.0,870.0,820.0,880.0,840.0,610.0,880.0
5,7,E. Hazard,26,Belgium,90,91,Chelsea,Ä90.5M,Ä295K,2096,...,590.0,470.0,810.0,610.0,870.0,870.0,820.0,880.0,640.0,820.0
6,8,T. Kroos,27,Germany,90,90,Real Madrid CF,Ä79M,Ä340K,2165,...,760.0,720.0,870.0,820.0,810.0,810.0,770.0,800.0,780.0,770.0
7,9,G. HiguaÌn,29,Argentina,90,90,Juventus,Ä77M,Ä275K,1961,...,510.0,460.0,710.0,520.0,840.0,790.0,870.0,820.0,550.0,870.0
8,10,Sergio Ramos,31,Spain,90,90,Real Madrid CF,Ä52M,Ä310K,2153,...,840.0,870.0,740.0,830.0,700.0,710.0,720.0,690.0,810.0,720.0
9,11,K. De Bruyne,26,Belgium,89,92,Manchester City,Ä83M,Ä285K,2162,...,660.0,570.0,840.0,700.0,850.0,850.0,810.0,850.0,710.0,810.0
10,13,A. S·nchez,28,Chile,89,89,Arsenal,Ä67.5M,Ä265K,2181,...,620.0,560.0,790.0,640.0,850.0,850.0,830.0,860.0,660.0,830.0
11,14,L. Modri?,31,Croatia,89,89,Real Madrid CF,Ä57M,Ä340K,2228,...,780.0,720.0,860.0,800.0,830.0,840.0,760.0,830.0,800.0,760.0
12,15,G. Bale,27,Wales,89,89,Real Madrid CF,Ä69.5M,Ä370K,2263,...,720.0,670.0,810.0,710.0,870.0,870.0,870.0,870.0,740.0,870.0
13,16,S. Ag¸ero,29,Argentina,89,89,Manchester City,Ä66.5M,Ä325K,2074,...,520.0,440.0,750.0,540.0,870.0,840.0,860.0,860.0,570.0,860.0
14,17,G. Chiellini,32,Italy,89,89,Juventus,Ä38M,Ä225K,1867,...,780.0,860.0,600.0,760.0,550.0,580.0,590.0,560.0,750.0,590.0
15,19,P. Dybala,23,Argentina,88,93,Juventus,Ä79M,Ä215K,2063,...,550.0,430.0,780.0,550.0,860.0,860.0,830.0,870.0,600.0,830.0
16,21,A. Griezmann,26,France,88,91,AtlÈtico Madrid,Ä75M,Ä150K,2104,...,560.0,480.0,760.0,570.0,850.0,840.0,850.0,860.0,600.0,850.0
17,22,Thiago,26,Spain,88,90,FC Bayern Munich,Ä70.5M,Ä225K,2185,...,720.0,660.0,850.0,760.0,830.0,830.0,770.0,830.0,750.0,770.0
18,23,P. Aubameyang,28,Gabon,88,88,Borussia Dortmund,Ä61M,Ä165K,2078,...,620.0,520.0,740.0,590.0,840.0,830.0,850.0,840.0,650.0,850.0
19,24,L. Bonucci,30,Italy,88,88,Milan,Ä44M,Ä210K,1995,...,790.0,860.0,750.0,830.0,660.0,660.0,650.0,630.0,760.0,650.0

In [26]:
df = df.drop(df.columns[0], axis=1)

In [27]:
df

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Acceleration,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,Ä95.5M,Ä565K,2228,89,...,610.0,530.0,820.0,620.0,910.0,890.0,920.0,910.0,660.0,920.0
1,L. Messi,30,Argentina,93,93,FC Barcelona,Ä105M,Ä565K,2154,92,...,570.0,450.0,840.0,590.0,920.0,900.0,880.0,910.0,620.0,880.0
2,Neymar,25,Brazil,92,94,Paris Saint-Germain,Ä123M,Ä280K,2100,94,...,590.0,460.0,790.0,590.0,880.0,870.0,840.0,890.0,640.0,840.0
3,L. Su·rez,30,Uruguay,92,92,FC Barcelona,Ä97M,Ä510K,2291,88,...,640.0,580.0,800.0,650.0,880.0,850.0,880.0,870.0,680.0,880.0
4,R. Lewandowski,28,Poland,91,91,FC Bayern Munich,Ä92M,Ä355K,2143,79,...,580.0,570.0,780.0,620.0,870.0,820.0,880.0,840.0,610.0,880.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15161,J. Keeble,18,England,46,56,Grimsby Town,Ä40K,Ä1K,1105,66,...,460.0,450.0,340.0,410.0,330.0,350.0,330.0,340.0,440.0,330.0
15162,T. K‰ﬂemodel,28,Germany,46,46,FC Erzgebirge Aue,Ä30K,Ä1K,1174,25,...,370.0,380.0,450.0,420.0,420.0,420.0,410.0,410.0,380.0,410.0
15163,J. Young,17,Scotland,46,61,Swindon Town,Ä60K,Ä1K,1194,66,...,310.0,280.0,380.0,290.0,450.0,420.0,450.0,440.0,320.0,450.0
15164,J. Lundstram,18,England,46,64,Crewe Alexandra,Ä60K,Ä1K,1302,57,...,470.0,460.0,450.0,470.0,430.0,450.0,410.0,440.0,460.0,410.0
15165,L. Sackey,18,Ghana,46,64,Scunthorpe United,Ä50K,Ä1K,1031,48,...,400.0,450.0,300.0,380.0,290.0,300.0,310.0,290.0,380.0,310.0

In [20]:
count = df.applymap(str).apply(lambda x: x.str.contains('\+').sum()).sum()

print(f"{count} columns contain the '+' sign.")

15 columns contain the '+' sign.

In [35]:
from neo4j import GraphDatabase, basic_auth

uri = "bolt://localhost:7687"
user = "neo4j"
password = "12345678"
driver = GraphDatabase.driver(uri, auth=basic_auth(user, password))

with driver.session() as session:
    result = session.run("MATCH (n) RETURN n LIMIT 10")

    for record in result:
        node = record["n"]
        print(list(node.labels)[0], ":", node["name"])

driver.close()

Movie : None
Person : Keanu Reeves
Person : Carrie-Anne Moss
Person : Laurence Fishburne
Person : Hugo Weaving
Person : Lilly Wachowski
Person : Lana Wachowski
Person : Joel Silver
Person : Emil Eifrem
Movie : None