In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn import datasets, preprocessing, metrics
# import libraries
import sklearn as sk
import math 
import pprint

In [8]:
df = pd.read_csv('finaldatasetwithNames.csv')
df.head(5)

,student,company,name,address,zipcode,city,postal_code,country_code,place_name,state_name,state_code,county_name,county_code,latitude,longitude
0,Jason Brown,Dynatest A/S,A/S DYNATEST ENGINEERING,Generatorvej 21,2730,Herlev,2730,DK,Herlev,Capital Region,17,Herlev Kommune,163,55.7338,12.4278
1,Jacob Stein,"Eriksholm Research Centre, Oticon",PROPOLIS RESEARCH CENTRE A/S,Lille Veksøvej 11,3670,Veksø Sjælland,3670,DK,Veksø Sjælland,Capital Region,17,Egedal Kommune,240,55.7576,12.2386
2,Cody Brown,Formpipe,FORMPIPE LASERNET A/S,Lautrupvang 1,2750,Ballerup,2750,DK,Ballerup,Capital Region,17,Ballerup Kommune,151,55.7333,12.3566
3,Larry Morales,Formpipe,FORMPIPE LASERNET A/S,Lautrupvang 1,2750,Ballerup,2750,DK,Ballerup,Capital Region,17,Ballerup Kommune,151,55.7333,12.3566
4,Jessica Hendricks,Formpipe,FORMPIPE LASERNET A/S,Lautrupvang 1,2750,Ballerup,2750,DK,Ballerup,Capital Region,17,Ballerup Kommune,151,55.7333,12.3566

In [4]:
df1 = pd.read_json('companies.json')
df1.head()

,vat,name,address,zipcode,city,cityname,protected,phone,email,fax,...,industrydesc,companycode,companydesc,creditstartdate,creditbankrupt,creditstatus,owners,productionunits,t,version
0,26911745,KMD A/S,Lautrupparken 40,2750,Ballerup,NaN,False,44601000.0,info@kmd.dk,44604106.0,...,Konsulentbistand vedrørende informationsteknologi,60,Aktieselskab,NaN,False,NaN,None,"[{'pno': 1017630322, 'main': False, 'name': 'K...",100,6
1,13594376,"PFA PENSION, FORSIKRINGSAKTIESELSKAB.",Sundkrogsgade 4,2100,København Ø,NaN,False,39175000.0,None,NaN,...,Livsforsikring,60,Aktieselskab,NaN,False,NaN,None,"[{'pno': 1000591581, 'main': False, 'name': 'P...",100,6
2,40916458,Dynatest A/S,Tempovej 27,2750,Ballerup,NaN,False,70253355.0,None,NaN,...,"Fremstilling af udstyr til måling, afprøvning,...",60,Aktieselskab,NaN,False,NaN,None,"[{'pno': 1025210030, 'main': True, 'name': 'Dy...",100,6
3,42334219,OTICON A/S,Kongebakken 9,2765,Smørum,NaN,False,39177100.0,None,39277900.0,...,Fremstilling af høreapparater og dele hertil,60,Aktieselskab,NaN,False,NaN,None,"[{'pno': 1006552453, 'main': False, 'name': 'O...",100,6
4,78040017,TOPDANMARK A/S,Borupvang 4,2750,Ballerup,NaN,False,70158585.0,None,NaN,...,Finansielle holdingselskaber,60,Aktieselskab,NaN,False,NaN,[{'name': 'Sampo plc'}],"[{'pno': 1015253246, 'main': False, 'name': 'T...",100,6

In [6]:
# KMD

# Dynatest

kmd = df.loc[0,"industrydesc"]
print(kmd)

dynatest = df.loc[2,"industrydesc"]
print(dynatest)

KeyError: 'industrydesc'

In [62]:
kmd = kmd.split(" ")
dynatest = dynatest.split(" ")

AttributeError: 'dict' object has no attribute 'split'

In [7]:
all = set(kmd).union(set(dynatest))
type(all)
print(all)

NameError: name 'kmd' is not defined

In [50]:
# corpus size
len(all)

12

In [51]:
# Binary Frequency Vector
def vect(sent):
    wvec = dict.fromkeys(all, 0) 
    for word in sent:
        wvec[word]=1
    return wvec

In [52]:
kmd = vect(kmd)
kmd

{'af': 0,
 'Fremstilling': 0,
 'afprøvning,': 0,
 'vedrørende': 1,
 'Konsulentbistand': 1,
 'og': 0,
 'udstyr': 0,
 'navigation': 0,
 'kontrol': 0,
 'til': 0,
 'informationsteknologi': 1,
 'måling,': 0}

In [53]:
dynatest = vect(dynatest)
dynatest

{'af': 1,
 'Fremstilling': 1,
 'afprøvning,': 1,
 'vedrørende': 0,
 'Konsulentbistand': 0,
 'og': 1,
 'udstyr': 1,
 'navigation': 1,
 'kontrol': 1,
 'til': 1,
 'informationsteknologi': 0,
 'måling,': 1}

In [54]:
# collect the dictionaires in a data frame
df = pd.DataFrame([kmd, dynatest])
df

,af,Fremstilling,"afprøvning,",vedrørende,Konsulentbistand,og,udstyr,navigation,kontrol,til,informationsteknologi,"måling,"
0,0,0,0,1,1,0,0,0,0,0,1,0
1,1,1,1,0,0,1,1,1,1,1,0,1

In [59]:
# Calculate dot product of two vectors, divide it by the magnitudes to find the cos(angle between them)
# Use the result as a correlation coefficient 
from collections import Counter

def cosine(vector1, vector2):
    # calculate nominator as a dot product
    numerator = sum(map(lambda pair:pair[0]*pair[1],zip(vector1, vector2)))
    
    # calculate the denominator, use Euclidean norm
    sum1 = sum([vector1[i] ** 2 for i in list(vector1.keys())])
    sum2 = sum([vector2[i] ** 2 for i in list(vector2.keys())])   
    denominator = math.sqrt(sum1) * math.sqrt(sum2)
    
    if not denominator:
         return 0.0
    else:
         return float(numerator)/denominator

In [60]:
# calculate the correlation
corr = cosine(df.iloc[0], df.iloc[1])
print("Similarity: ", corr)

Similarity:  0.0